.carousel-item{
    padding: 0 5%;
}
.my-caption{
    bottom: 200px;
    background-color: rgba(94, 158, 166, 0.4);
    color: #ffffff;
    padding-left: 20px ;
    padding-right: 20px ;
}
.h-200{height: 200px;}
.h-50{height: 50px;}
.h-550{height: 550px;}